.overlay {
  position: fixed;
  top: 0;
  left: 245px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 900;
}

.modal {
  position: fixed;
  top: 0;
  left: 245px;
  width: 397px;
  height: 100vh;
  background: white;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 20px;
  animation: slideIn 0.3s ease forwards;
}


@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}